<!--
  Generated template for the TestDatetimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test-datetime</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
{{date}}
</ion-content>
