page-rating {
    ul {
        padding: 10px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 40px;
            }
        }
    }
}