<!--
  Generated template for the RatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>rating</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card padding>
    <rating [(ngModel)]="rate" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
      (ngModelChange)="onModelChange($event)">
    </rating>
    <rating [(ngModel)]="rate1" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
      (ngModelChange)="onModelChange($event)">
    </rating>
    <rating [(ngModel)]="rate2" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
      (ngModelChange)="onModelChange($event)">
    </rating>
    <h2>{{rate}}</h2>
  </ion-card>
</ion-content>