<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="img/avatar-cher.png">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
    </ion-item>
  </ion-list> -->
  <div class="user-review">
    <div class="review" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <div class="profile">
        <div class="left">
          <img src="assets/imgs/logo.png" class="avatar">
          <div class="infor">
            <span class="author-name">Luongtu996</span>
            <br/>
            <label class="star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </label>
            <label class="date">&nbsp;08/07/1208</label>
          </div>
        </div>
      </div>
      <div class="review-content">
        duc le nao may bi liet ah thang ngu ? Ni So la khan gia co quyen nhan xet ca si hay hoac do .. mac deo gi phai can biet hat
        ha thang ngu ? Khan -gia deo duoc nhan xet ha thang liet nao ma may hoi nguoi ta biet hat hay ko .. neu tui tao biet
        hat thi lam ca si het me no roi thi ai la khan gia nghe de nhan xet hay hoac do ?
      </div>
    </div>
  </div>
</ion-content>