page-list {
    ion-list {
        ion-item {
            ion-avatar {
                align-self: baseline;
            }
            ion-label {
                white-space: initial;
            }
        }
    }
    .user-review {
        background: #f1f1f1;
        .review {
            background: #fff;
            margin: 10px 0px;
            padding: 8px 13px 8px 13px;
            .profile {
                display: flex;
                .left {
                    display: flex;
                    .avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin: 8px 16px 8px 0;
                    }
                    .infor {
                        margin: 7px 0px;
                        .author-name {
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}