<!--
  Generated template for the FormReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FormReview</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <h2 text-center>Your Feedback</h2>

  <ion-item no-padding>
    <ion-label stacked>Type your feedback</ion-label>
    <ion-textarea [(ngModel)]="feedbackContent" type="textarea" rows="5"></ion-textarea>
  </ion-item>
  <button ion-button block (click)="sendYorFeedback()">Send</button> -->
  <button ion-button block (click)="doPrompt()">present</button>
</ion-content>