// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.custom-width-popover-75 .popover-content {
    width: 75%;
}

.alertCustomCss {
    .alert-wrapper {
        .alert-head {
            text-align: center;
            padding: 24px 24px 10px;
        }
    }
}

.modal-review {
    background-color: rgba(0, 0, 0, 0.5); // left: 10%;
    .ion-page {
        margin: 0 auto;
        position: relative;
        top: 7%;
        width: 75%;
        background: #fff;
        border-radius: 5px;
        height: 304px;
    }
}

.always-modal .modal-wrapper {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: unset !important;
    top: unset !important;
    .ion-page {
        margin: 0 auto;
        position: relative;
        top: 10%;
        width: 75%;
        height: 80%;
    }
}