<!-- Generated template for the ModalReviewComponent component -->
<div class="review">
  <h2 text-center>Your Feedback</h2>
  <span class="remind">We hope you have a good lesson. Please rate your teacher</span>
  <div class="rating-tutor">
    <rating [(ngModel)]="rate" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
  </div>
  <ion-item>
    <ion-textarea [(ngModel)]="content" type="textarea" rows="5" placeholder="type your review"></ion-textarea>
  </ion-item>
  <!-- <button ion-button color="secondary" [disabled]="isEmpty(content)">OK</button> -->
  <!-- <button ion-button color="danger">Danger</button> -->
  <button ion-button full (click)="sendYorFeedback()" [disabled]="isEmpty(content)">Send</button>
</div>