modal-review {
    .review {
        h2 {
            font-size: 2.4rem;
            margin-top: 1.4rem;
            font-family: cursive;
        }
        .rating-tutor {
            text-align: center;
            ul {
                padding: 0;
                margin-bottom: 0;
                margin-top: 6px;
                &.rating li {
                    padding: 5px 5px !important;
                    background: none;
                    color: #ffb400;
                    ion-icon {
                        font-size: 30px;
                    }
                }
            }
        }
        ion-item {
            padding: 10px !important;
            .item-inner {
                padding: 0px !important;
                background-color: #f1f0f0;
                border: 0 !important;
                border-radius: 4%;
                textarea {
                    margin: 8px !important;
                    font-size: 15px;
                }
            }
        }
        .remind {
            text-align: center;
            padding: 0px 5px 5px 5px;
            display: block;
            font-size: 1.5rem;
            line-height: 1.2;
            font-family: cursive;
        }
    }
}