form-review {
    .review {
        p {
            margin: 0;
            padding: 11px;
            background-color: #efefef;
            font-size: 18px;
            font-weight: 500;
            color: #443b3b;
        }
    }
}