<div class="review">
  <p text-center>YOUR REVIEW</p>
  <ion-textarea [(ngModel)]="reviewContent" type="textarea" rows="5"></ion-textarea>
  <button ion-button block (click)="sendYorFeedback()">Send</button>
</div>